body {
  /* background-color: black;  */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: black;
}

.logo-landing-page {
  height: 100px;
}

.landing-btn {
  color: white;
  background-color: black;
  border-radius: 3px;
  height: 30px;
  border: 1px solid white;
}

.landing-btn:hover {
  color: black;
  background-color: white;
  border: 3px solid black;
}